<div class="row text-center text-uppercase">
  <h1>{{model.name}}</h1>
</div>

<div class="row text-center">
  <div class="col-md-6 col-md-offset-3">
    <img class="img-responsive" src="{{model.imageFront800}}" alt="Image of the {{model.name}} memo book">
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        {{panel-detail-item description="DESCRIPTION" value=model.description}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{panel-detail-item description="ITEM No." value=model.itemNo}}
      </div>
      <div class="col-md-4">
        {{panel-detail-item description="EDITION SIZE" value=model.editionSize}}
      </div>
      <div class="col-md-4">
        {{panel-detail-item description="RELEASE" value=model.release}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
