<div class="row">
  {{#each model as |book|}}
    <div class="col-sm-3 col-md-3 text-center mb3">
      <div class="thumbnail">
        <img src="{{book.imageFront400}}" alt="Image of {{book.name}}">
        <div class="caption">
          <h5 class="text-uppercase">{{book.name}}</h5>
          <p class="text-uppercase">{{book.itemNo}}</p>
          {{#link-to 'memo-books.details' book.id class="btn btn-primary"}}Read more{{/link-to}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{outlet}}
